
.mat-raised-button.mat-gold {
  background-color: #f9aa33;
  color: white;
}

.mat-icon.mat-green {
  color: green;
}

.mat-icon.mat-red {
  color: red;
}

.card {
  margin-top: 0.75cm;
  margin-bottom: 5cm;
  padding: 15px 15px 15px 15px;
  height: 90%;
}

.position-fixed {
  position: fixed;
  bottom: 0;
}

.fill-end {
  flex: 1 1 auto;
}


